src/main/mule/error-handling-with-anypoint-mq.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:anypoint-mq="http://www.mulesoft.org/schema/mule/anypoint-mq"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/anypoint-mq http://www.mulesoft.org/schema/mule/anypoint-mq/current/mule-anypoint-mq.xsd">
	
	<flow name="error-handler-flow" doc:id="c3a2001f-3f69-40bb-8505-62fbd59a53b0" >
		<anypoint-mq:subscriber doc:name="fetch-from-error-queue" doc:id="0720ccab-3bbd-4304-9c64-e2691c082151" config-ref="Anypoint_MQ_Config" destination="error-queue" acknowledgementMode="MANUAL"/>
		<ee:transform doc:name="initialize-vars" doc:id="997e6992-6374-4ed1-9795-dc55e89996fe" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="redelivery_count" ><![CDATA[%dw 2.0
output application/java
---
attributes.properties.count]]></ee:set-variable>
				<ee:set-variable variableName="sourceQueueName" ><![CDATA[%dw 2.0
output application/java
---
payload.sourceQueueName]]></ee:set-variable>
				<ee:set-variable variableName="ackToken" ><![CDATA[%dw 2.0
output application/java
---
attributes.ackToken]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<logger level="INFO" doc:name="log-redelivery-count" doc:id="4530c28e-ccfd-48dd-9fbc-30f017caea20" message="#[vars.redelivery_count]" />
		<choice doc:name="vars.redelivery_count &gt;= 3" doc:id="a7811847-eda8-490a-a404-5120da6f3f86" >
			<when expression="#[vars.redelivery_count >= 3]">
				<logger level="INFO" doc:name="redelivery count" doc:id="00601d7f-cdcf-498d-8654-748c55694e29" message="redelivery count is :  #[vars.redelivery_count]"/>
				<anypoint-mq:publish doc:name="publish-to-dlq" doc:id="a49ce76d-46fc-4f9e-b8ac-de238cc9f151" config-ref="Anypoint_MQ_Config" destination="dlq">
					<anypoint-mq:body ><![CDATA[#[payload.data]]]></anypoint-mq:body>
					<anypoint-mq:properties ><![CDATA[#[output application/java
---
{
	count : vars.'redelivery_count'
}]]]></anypoint-mq:properties>
				</anypoint-mq:publish>
			</when>
			<otherwise >
				<logger level="INFO" doc:name="redelivery count" doc:id="a6ccafa5-192d-4c85-8a25-b05206544262" message="redelivery count is :  #[vars.redelivery_count]"/>
				<anypoint-mq:publish doc:name="publish-to-source-queue" doc:id="be42ce27-bced-4b87-a7b2-1329ececa2f5" config-ref="Anypoint_MQ_Config" destination="#[vars.sourceQueueName]">
					<anypoint-mq:body ><![CDATA[#[payload.data]]]></anypoint-mq:body>
					<anypoint-mq:properties ><![CDATA[#[output application/java
---
{
	count : vars.'redelivery_count'
}]]]></anypoint-mq:properties>
				</anypoint-mq:publish>
			</otherwise>
		</choice>
		<anypoint-mq:ack doc:name="ack-token" doc:id="1132b8fe-415f-4bc3-9ab5-9023ba09cb36" config-ref="Anypoint_MQ_Config" ackToken="#[vars.ackToken]" />
	
</flow>
	
	</mule>
