src/main/mule/process-queue-message.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:anypoint-mq="http://www.mulesoft.org/schema/mule/anypoint-mq"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/anypoint-mq http://www.mulesoft.org/schema/mule/anypoint-mq/current/mule-anypoint-mq.xsd">
	
	<flow name="message-processor-flow" doc:id="f04bfcf5-5e7a-4dc3-9422-85ff85b2a612" >
		<anypoint-mq:subscriber doc:name="fetch-message-from-source-queue" doc:id="1db3db4f-79d1-4214-a407-9d0ef1e4b7cd" config-ref="Anypoint_MQ_Config" destination="source-queue" acknowledgementMode="MANUAL"/>
		<ee:transform doc:name="initialize-vars" doc:id="54e4af87-e2ac-40a2-8db2-483b318d1358" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="redelivery_count" ><![CDATA[%dw 2.0
output application/java
---
if ( attributes.properties.'count' == null)
1
else
attributes.properties.'count' + 1]]></ee:set-variable>
				<ee:set-variable variableName="ackToken" ><![CDATA[%dw 2.0
output application/java
---
attributes.ackToken]]></ee:set-variable>
				<ee:set-variable variableName="originalPayload" ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<raise-error doc:name="raise-custom-error" doc:id="fa03511a-13be-48c6-866d-8a5c370a7dca" type="ACCOUNTS:INVALID ACCOUNT" />
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="79f279ac-7a4e-4789-bc19-a3a7b4c9f908" type="ANY">
				<ee:transform doc:name="set-message-attributes" doc:id="1271ec13-4837-433c-8cfd-e3c3cad5b43b">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"data": vars.originalPayload,
	"errorDescription": error.description,
	"errorCause": error.cause.summaryMessage,
	"sourceQueueName": "source-queue"
	
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<logger level="INFO" doc:name="redelivery_count" doc:id="1b226d14-f93b-40e0-8908-a1252fa9f841" message="RedeliveryCount in QueueProcessor : #[vars.'redelivery_count' ]" />
				<anypoint-mq:publish doc:name="publish-to-error-queue" doc:id="fc4f94db-a2f4-4bbd-b37c-0aaeca477ec1" config-ref="Anypoint_MQ_Config" destination="error-queue">
					<anypoint-mq:properties><![CDATA[#[output application/java
---
{
	count : vars.'redelivery_count'
}]]]></anypoint-mq:properties>
				</anypoint-mq:publish>
				<anypoint-mq:ack doc:name="ack-token" doc:id="6368925a-0d4b-4d76-928c-94bdd3cf36a0" config-ref="Anypoint_MQ_Config" ackToken="#[vars.ackToken]"/>
			
</on-error-propagate>
		</error-handler>
	</flow>
	
	
	</mule>
